body{	text-align:center;
	font-family:Trebuchet MS;}

h1{	color:#003d99;
	font-size:40;}

h2{	color:#0052cc;
	font-size:32;}

p{	color:#000066;
	text-align:center;
	font-size:20;}

ul{	font-size:25;
	list-style-type:none}

a{	text-decoration:none;
	color:#000066;}

a:hover {	background-color:#e6f2ff;}
